<!DOCTYPE>
<html>
  <head>
    <title>
      Akshay's Blogs
    </title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
      <link rel="stylesheet" href="/css/maincss.css">
    </link>

  </head>
  <div id="register" class="container">
    <h1> Register Youserself:</h1>
    <form  method="POST" action="/users/register" >
      <label class="label label-default"> Name: </label></br>
      <input class="form-control" type="text" name= "name"/></br>
      <label class="label label-default"> Username: </label></br>
      <input class="form-control" type="text" name= "username"/></br>
      <label class="label label-default"> Email: </label></br>
      <input class="form-control" type="email" name= "email"/></br>
      <label class="label label-default"> Password: </label></br>
      <input class="form-control" type="password" name= "password"/></br>
      <label class="label label-default"> Confirm Password: </label></br>
      <input class="form-control" type="password" name= "password2"/></br>
      <button class="btn btn-default btn-lg" type="submit">Register</button>
    </form>
  </div>
<!DOCTYPE>
<html>
  <head>
    <title>
      Akshay's Blogs
    </title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
      <link rel="stylesheet" href="/css/maincss.css">
    </link>

  </head>
